.App {
  margin: 30px auto;
  max-width: 650px;
}
.App footer {
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 10px 0;
}

.App footer a {
  color: rosybrown;
}
