.App {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  border: 3px solid gold;
}
.App h2 {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App a {
  color: rosybrown;
}
