.Weather {
  border: 2px solid rgb(61, 60, 63);
  /* background: #282c34; */
  /* color: #fff;
  text-align: center; */
}
.Weather ul {
  list-style: none;
  padding-left: 0;
}
/* .Weather input {
  padding: 10px;
  border-radius: 5px;
}*/

/*.Weather li {
  display: block;
  margin: auto;
} */
