.Weather {
  /* background: #282c34;
  color: #fff; */
  text-align: center;
}
.Weather input {
  padding: 10px;
  border-radius: 5px;
}
.Weather ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  /* text-align: center; */
}
.Weather li {
  display: block;
  margin: auto;
}
